.greenColor{
  background: #00c292;
}
.sidebar{
  background: #fff;
  width: 148%;
  color: #686a76;
  border: 2px solid darkgreen;
  border-radius: 8px;
  margin-top: 20px;
}
.sidebar ul{
  margin-top: inherit;
}
.sidebar ul li{

}
.sidebar ul li a{
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-weight: 300;

  color: black;
}
.sidebar ul li a:hover{
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  background: #33b35a;
  border-left: 4px solid #22773c;
  color: #fff;
}
