.greenColor{
  background: #00c292;
}
.sidebar{
  background: #fff;
  min-width: 250px;
  color: #686a76;
  border: 2px solid darkgreen;
  border-radius: 8px;
}
.sidebar ul{
  padding: 15px 0;

}
.sidebar ul li{

}
.sidebar ul li a{
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  border-left: 4px solid transparent;
  color: black;
}
.sidebar ul li a:hover{
  text-decoration: none;
  background: #33b35a;
  border-left: 4px solid #22773c;
  color: #fff;
}
